@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');
:root{
    --primary-color: #441ED4;
    --off-white: #f3f3f6;
    --dark-gray: #687288;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr{
    margin: 2rem 0rem;
}
/* container */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;    
}

/* Links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: #ffffff;
}

.link-secondary{
    /* background-color: var(--primary-color); */
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    /* color: #ffffff; */
}

/* list */

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* nav */
.navigation{
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
 .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
} 
.navigation .nav-pills{
    text-align: right;
}
.navigation .link{
    color: #ffffff;
   
}

.link-active{
    font-weight: bold;
}

/* Header */
.hero{
    padding: 1rem;
}

.hero-image{
    max-height: 350px;
    display: block;
    margin: auto;
}

.hero-heading{
    color: var(--dark-gray);
    padding-top: 1rem;
    text-align: center;
}

.heading-inverted{
    color: var(--primary-color);
}


/*  section */

section{
    padding: 2rem;
}
.section h1{
    text-align: center;
   
}
.ow{
    background-color: var(--off-white);
}


/* footer */

.footer{
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 1rem
}

.footer .link{
    color: #ffffff;
}

.footer ul{
    padding-inline-start: 0px;
}